.shippingEmoji {
  font-size: 80px;
  width: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.orderItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}
.orderTitle {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.orderTitle > span {
  margin-right: 12px;
}

.orderList {
  margin: 48px 45px 40px 48px;
  width: 100%;
}

.order {
  margin-top: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderButton {
  background: none;
  border: none;
  outline: none;
  /* 
  width: 80vw;
  max-width: 304px; */
  width: 100%;
  /* height: 48px; */
  padding: 18px 0;
  margin: 0 25px;
  border-radius: 16px;
  background-color: #000000;
  color: white;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.38px;
}

.orderThumbnail {
  border-radius: 8px;
}

.productDetails {
  /* display: flex;
  justify-content: space-around;
  margin: 0 8px;
  font-size: 18px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.45px;
  color: #333333; */
  display: flex;
  align-items: center;
}

.productName {
  margin-left: 23px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  
  color: #333333;
}

.productPrice {
  /* word-wrap: none;
  word-break: none;
  overflow-x: auto; */
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #111111;
}
