.decoration {
  margin: 0 3px 0 0;
  font-weight: normal;
  align-self: center;
  letter-spacing: 0.74px;
  font-size: 16px;
  color: #000000;
  font-family: "Roboto", sans-serif;
}
.personalForm {
  margin-top: 40px;
}
.imageDecoration {
  align-self: center;
}
.numberCode {
  font-weight: normal;
  align-self: center;
  letter-spacing: 0.74px;
  font-size: 16px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  margin: 0 12px;
}
