.hiddenInput {
  opacity: 0;
}

.selectedRadioButton {
  border: solid 0.5px #333 !important;
  border-radius: 50%;
}

.radioButton {
  height: 23px;
  width: 23px;
  padding: 2px;
  border-radius: 50%;
}
