.selectedIndicator {
  background-color: black;
  height: 8px;
  width: 8px;
  display: inline-block;

  border-radius: 50%;
  margin: 0 4px;
}

.normalIndicator {
  height: 8px;
  width: 8px;
  display: inline-block;

  background-color: #cccccc;

  border-radius: 50%;
  margin: 0 4px;
}
