.details {
  margin-top: 20px;
}

.toggleButton {
  background: none;
  border: none;
  outline: none;

  color: var(--dm2buy-pink);

  margin: 12px 0;
  padding: 0;
}

.summary {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.summary::marker {
  display: inline;
  opacity: 0;
}

.hideSummary {
  display: none;
}
