.header {
  max-width: var(--max-width);
  background-color: white;

  flex: 1 0 auto;

  max-height: 8vh;

  display: flex;
  flex-direction: column;
}

.notice {
  background-color: var(--dm2buy-pink);
  color: white;
  padding: 20px 14px;
  text-align: center;
  font-size: 14px;

  flex: 1 0 auto;

  max-height: 16vh;
}

.siteHeader {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;

  max-height: 8vh;
  width: 100vw;

  border: solid 1px rgba(151, 151, 151, 0.5);
}

.logo {
  height: 40px;
  width: 75px;
  background-position: center;
  background-size: cover;
}
