.productSizeContainer {
    display: block;
    margin: 27px 0px;
}

.sizesContainer {
    display: flex;
    margin: 16px 0px;
}

.sizeContainer {
    width: 77px;
    height: 45px;
    margin: 0 10px;
    padding: 5px 5px 5.5px 6.5px;
    border-radius: 8px;
    border: solid 0.5px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizeContainer.selected {
    color: white;
    border: solid 0.5px #1c3142;
    background-color: #1c3142;
    transition: all 0.3s ease-in-out;
}

.sizeHeading {
    flex: 64px 0;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    color: #1c3142;
    letter-spacing: 1.5px;
}