.storeItems {
  display: grid;
  margin-top: 14px;
  grid-gap: 11px 22px;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(autofill, 1fr); */
  position: relative;
}

/* .storeHeading {
  margin-left: 20px;
  margin-right: 20px;
} */
.store {
  min-height: calc(100vh - 268px);
  width: 100%;
}
