.storeItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  /* margin-bottom: 50px; */
  /* height: 300px; */
  /* margin: 40px 0; */
}
.productImg {
  border-radius: 10px;
  min-height: 204px;
}
.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  height: 100%; */

  padding: 4px 0;
}

.title {
  font-size: 17px;
  margin-bottom: 8px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  /* min-height: 22px; */
}

.price {
  font-size: 17px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
