.storeCollections {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  line-height: 2rem;
  margin-top: 5px;
  padding-left: 78px;
  padding-right: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: max-content;
  height: 66px;
  scroll-behavior: smooth;
  z-index: 200;
}

.storeCollections::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in white */
.storeCollections::-webkit-scrollbar-thumb {
  background: #ffffff;
}