.container {
  margin-top: 76px;
  min-height: 100vh;
  max-width: 100%;
  /* max-width: var(--max-width); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
.product {
  /* overflow-y: scroll; */
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  /* box-sizing: border-box; */
  margin: 0;
  width: 100%;
  /* max-height: 100vh; */
}
.productSub {
  /* box-sizing: border-box; */
  padding-left: 24px;
  padding-right: 24px;
  /* margin: 0 10px; */
  /* width: 100vw; */
}

.productHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100vw; */

  max-width: var(--max-width);

  padding: 4px 0;
}

.productHeading {
  margin: 0;
  font-size: 20px;
  font-stretch: normal;
  /* font-weight: bold; */
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #000000;
  flex: 1 0;

  font-weight: 700;
  max-width: 250px;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  /* word-break: all; */
}

.price {
  margin-left: 4px;
  font-size: 24px;
}
.priceContainer {
  /* margin: 0 0 0 6px; */
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  color: #333333;
  font-family: "Roboto", sans-serif;
  /* padding: 0 24px; */
}

.callToAction {
  display: flex;
  align-items: center;
  margin: 20px 0 32px;
  justify-content: center;
}

.buyNowButton {
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  outline: none;
  /*
  width: 80vw;
  max-width: 304px; */
  width: 100%;
  /* height: 48px; */
  padding: 16px 25px;
  margin: 0;
  border-radius: 16px;
  background-color: #000000;
  color: white;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  margin-top: 10px;
}
.shipping {
  margin: 8px 0 0 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #656565;
  display: flex;
  align-items: center;
}
.day {
  margin-left: 6px;
  letter-spacing: 0.64px;
  color: #333333;
  padding: 3px 6px 2px 7px;
  border-radius: 4px;
  background-color: #fcf4bd;
}
.soldOutButton {
  background: none;
  border: none;
  outline: none;
  /*
  width: 80vw;
  max-width: 304px; */
  /* height: 48px; */
  width: 100%;
  padding: 18px 0;
  margin: 0 0;
  padding: 16px;
  border-radius: 8px;
  background-color: #eae9e9;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.38px;
}

.description {
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1.5px;
  /* font-weight: 500; */
  font-stretch: normal;
  font-style: normal;
  color: #1c3142;

  font-weight: 400;
  opacity: 80%;
  /* word-break: break-all; */
}
