.formInput {
  width: 100%;
  max-width: 100vw;
  margin: 18px 0;
}

.halfInput {
  max-width: 50vw;
}

.inputClass {
  display: flex;
  width: 100%;
  margin: 0 31px 0 0;
  border-radius: 8px;
  background-color: #edeff1;

  padding: 18px 3px 18px 24px;
  min-height: 36px;
}

.focusInput {
  display: flex;
  width: 100%;
  margin: 0 31px 0 0;
  border-radius: 8px;
  padding: 18px 3px 18px 24px;
  /* padding: 22px 3px 23px 24px; */
  min-height: 36px;

  box-shadow: 0 3px 8px 0 #cccccc;
  background-color: #ffffff;
}

.error {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  color: #fe3333;
  font-size: 12px;
}

.inputStyle {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  font-size: 14px;
  letter-spacing: 0.74px;
  font-family: "Roboto", sans-serif;
}

.inputStyle::placeholder {
  color: #979797;
}
