.giftCodeContainer{
    position: relative;
    width: 100%;
    height: 82px;
    background-color: white;
    overflow: hidden;
    
}
.giftCode::placeholder{
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: initial;
}
.giftCode{
    width: 100%;
    background-color: white;
    padding: 2rem var(--card-padding);
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 4px;
}
.inputBox {
    position: relative;
    width: 100%;
    height: 82px;
    background-color: white;
    /* z-index: -1; */
}
.loader {
    width: 100%;
    height: 82px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem var(--card-padding);
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 4px;
    line-height: 1rem;
    /* z-index: -1; */

}
.wrongCode{
    width: 100%;
    height: 82px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem var(--card-padding);
    color: #fe3333;
    font-size: 0.9rem;
    font-weight: 500;
    /* z-index: -1; */
    /* animation: vibrate 300ms forwards; */
    animation: shake 0.5s forwards;
    animation-delay: 500ms;

}
.appliedCode{
    width: 100%;
    height: 82px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem var(--card-padding);
    font-size: 0.9rem;
    font-weight: 500;
    /* z-index: -1; */

}
.removeCode{
    color: #fe3333;
    font-size: 0.8rem;
    font-weight: 500;
}
.discountedAmount {
    margin-left: 8px;
    font-weight: 700;
    animation: colorDance 2s infinite;
}
.arrowBtn{
    position: absolute;
    right: 1rem;
    top: 2rem;
    animation: bouncing_arrow 1s infinite alternate
    ease-in;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

@keyframes bouncing_arrow {
    0%{
        right: 1.8rem;
    }
    100%{
        right: 1rem;
    }
}
@keyframes colorDance {
    0%{color:#ff9d1f}
    10%{color:#ff9035}
    20%{color:#ff4335}
    25%{color:#ff4273}
    55%{color:#8949be}
    60%{color:#9e27ff}
    70%{color:#9c1cb6}
    90%{color:#ff4273}
    to{color:#ff9d1f}
}

@keyframes shake {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(0.75rem);
    }
    40% {
      transform: translate(-0.75rem);
    }
    60% {
      transform: translate(0.75rem);
    }
    80% {
      transform: translate(-0.75rem);
    }
    100% {
      transform: translate(0);
    }
}