html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */

  /* height: 100%; */

  /* overflow-y: hidden; */

  /* overscroll-behavior-y: none; */
}

.carousel {
  margin: 0 8px !important;
  margin-bottom: 24px !important;
  width: 96% !important;
}

.carousel .control-prev.control-arrow::before {
  border-right: 8px solid #000 !important;
  position: absolute;
  bottom: 8px;
  z-index: 99;
}

.carousel .control-next.control-arrow::before {
  border-left: 8px solid #000 !important;
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 99;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.underline-button {
  text-decoration: underline;
}

:root {
  --dm2buy-pink: hsl(323.2, 82%, 54.3%);
  --border: hsla(0, 0%, 59.2%, 0.4);
  --bg-color: #ffffff;
  --max-width: 520px;
}
