.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.cart {
  height: 28px;
  width: 24px;
  background: none;
  outline: none;
  border: none;

  background-image: url("/shopping-bag.svg");
  background-position: center;
  background-size: cover;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profilePic {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.footer {
  width: calc(100% + 44px);
  /* position: fixed;
  bottom: 0; */
  max-width: 360px;
  /* height: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
  padding: 20px;
  background-color: #e0dede;

  /* padding: 44px 36px; */
  /* padding: 20px; */
  /* 
  margin-top: 32px; */
}

.tagline {
  /* display: flex;
  justify-content: space-between;
  flex-direction: column; */

  font-size: 18px;
  /* font-weight: bold; */
  font-weight: 550;
  color: #333333;
  margin-left: 4px;
  /* height: 105px;
  width: 300px; */
  /* 
  margin-bottom: 44px; */
}

.footerTagline {
  /* display: flex;
  flex-direction: column; */

  margin-left: 16px;
  font-weight: bold;
}

@media (max-width: 600px) {
}
